body {
    font-family: 'Graduate', cursive;
    margin: 0;
    background-color: #f8f4e9;
    color: #3a2e29;
}

/*Navigation Bar*/
nav {
    background-color: crimson;
    padding: 15px;
    text-align: center;
}
nav a{
    color: #fff;
    text-decoration: none;
}

